section {
  background-color: #212121;
  min-height: 100%;

  display: flex;
  flex-flow: row nowrap;
}

@media (max-width: 900px) {
  section {
    flex-direction: column;
  }
}

.w-100 {
  width: 100%;
  box-sizing: border-box;
}

.p-10 {
  padding: 10px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}

button.delete {
  background: #f44336;
  color: #fafafa;
}

button.save {
  background: #4caf50;
  color: #fafafa;
  padding: 10px;
  margin-left: 10px;
}

button.grey {
  background: #616161;
  color: #fafafa;
}

.mb-15 {
  margin-bottom: 15px;
}
