section {
  background-color: #212121;
  min-height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

#tecnologias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  color: #83c5be;
  text-align: center;
  font-size: 2em;
}

h2 {
  color: #83c5be;
  text-align: center;
  font-size: 1.5em;
}

p {
  text-align: center;
  color: #fafafa;
}

a {
  color: teal;
}
