<section>
    <h1>Sobre</h1>
    <p>Este é um site desenvolvido com o único objetivo de coloca em prática o que foi aprendido no <a
            href="https://www.udemy.com/course/curso-web/" target="_blank">curso da COD3R</a></p>
    <h2>Tecnologias Usadas</h2>
    <div id="tecnologias">
        <app-tecnologia-card nome="angular"></app-tecnologia-card>
        <app-tecnologia-card nome="typescript"></app-tecnologia-card>
        <app-tecnologia-card nome="nodejs"></app-tecnologia-card>
        <app-tecnologia-card nome="javascript"></app-tecnologia-card>
    </div>
</section>